---
import "blaze-slider/dist/blaze.css";
import Header from "./Header.astro";
import { Image } from "astro:assets";
import about1 from "@images/about-1.jpg";
import about2 from "@images/about-2.jpg";
import about3 from "@images/about-3.jpg";
---

<section>
  <div class="wrapper">
    <div class="header-wrapper">
      <Header title="ABOUT ME" />
    </div>
    <svg
      width="77"
      height="190"
      class="wire"
      viewBox="0 0 92 227"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M91 3C48.3334 11 -26.6 37.4 15 79C67 131 65.0001 175 15 225"
        stroke="white"
        stroke-width="5"></path>
    </svg>
    <p>
      Thia Lanuza is an award-winning Filipino-Canadian vocal performer based in
      Greater Victoria/Vancouver, specializing in Pop Ballads, Jazz, RnB, and
      Musical Theatre. She has a long history of singing various genres in
      different settings and continuously delivers professionalism and quality
      with every performance. Thia sings from her heart and is always aiming to
      share her love of music by touching the hearts of others.
    </p>
    <div class="images">
      <svg
        width="150"
        height="600"
        viewBox="0 0 173 690"
        fill="none"
        class="wire2"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M123 2C107.333 36.3333 85.3998 114.4 123 152C170 199 199 282 123 282C62.1998 282 12.5 221 3.99987 194.5C-0.872694 179.309 8.69976 151 29.4998 161C33.9997 162.333 44.3001 181.2 45.5001 184C47.2143 188 42.5001 192.5 38 188C34.5474 184.547 42.4999 161 48.9999 157.5C55.4999 154 68.7292 147.967 82 169C108.5 211 -16 317.5 51.5 424.5C116.58 527.664 131 612 54.9998 688"
          stroke="white"
          stroke-width="5"></path>
      </svg>

      <Image src={about1} alt="image 1 singing" height={584} width={380} />
      <Image src={about2} alt="image 2 singing" height={584} width={380} />
      <Image src={about3} alt="image 3 singing" height={584} width={380} />
    </div>
  </div>
  <div class="blaze-slider2">
    <div class="blaze-container">
      <div class="blaze-track-container">
        <div class="blaze-track">
          <div class="container">
            <Image
              src={about2}
              class="slide-image"
              alt="image 2 singing"
              height={584}
              width={380}
            />
          </div>
          <div class="container">
            <Image
              src={about1}
              class="slide-image"
              alt="image 1 singing"
              height={584}
              width={380}
            />
          </div>
          <div class="container">
            <Image
              src={about3}
              class="slide-image"
              alt="image 3 singing"
              height={584}
              width={380}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import BlazeSlider from "blaze-slider";
  const el2 = document.querySelector(".blaze-slider2") as HTMLElement;
  new BlazeSlider(el2, {
    all: {
      enableAutoplay: true,
      autoplayInterval: 3000,
    },
  });
</script>

<style>
  img {
    max-width: 300px;
    height: auto;
  }

  p {
    color: white;
    max-width: 110ch;
    font-family: "Roboto", sans-serif, system-ui;
    margin-top: 1rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
  }

  .images {
    max-width: 1200px;
    position: relative;
    display: flex;
    gap: 3.5rem;
    margin-top: 5rem;
  }

  .blaze-slider2 {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 95%;
  }

  .header-wrapper {
    margin: 0rem 0 3rem 0;
  }

  .wire {
    position: absolute;
    right: 200px;
    top: -25px;
  }
  .wire2 {
    position: absolute;
    right: 320px;
    top: -80px;
  }

  .controls {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }

  .container {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 1250px) {
    .images {
      display: none;
    }

    p {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .header-wrapper {
      margin-bottom: 0;
    }

    .wire,
    .wire2 {
      display: none;
    }

    .blaze-slider2 {
      display: block;
      max-width: 550px;
      margin: 1rem 3rem;
    }

    .slide-image {
      height: auto;
      width: 100%;
    }
  }
</style>
