---
import Header from "./Header.astro";
import performance_1 from "@images/performance_1.jpg";
import performance_2 from "@images/performance_2.jpg";
import performance_3 from "@images/performance_3.jpg";
import performance_4 from "@images/performance_4.jpg";
import performance_5 from "@images/performance_5.webp";
import performance_6 from "@images/performance_6.jpg";
import { Image } from "astro:assets";
---

<section class="wrap">
  <Header title="PERFORMANCES" />
  <svg
    width="26"
    height="57"
    class="background-wire2"
    viewBox="0 0 26 57"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M23.0001 2C15.6667 12.6667 1.40008 38.4 3.00008 56"
      stroke="white"
      stroke-width="5"></path>
  </svg>
  <h3>2016</h3>
  <div class="all-posters">
    <div class="image-wrapper">
      <span class="image-resizer">
        <Image
          src={performance_1}
          width="800"
          id="perf-1"
          alt="Image of aspiring vocalist Thia Lanuza"
        />
      </span>
      <span class="image-resizer">
        <Image
          src={performance_2}
          id="perf-2"
          width="800"
          alt="Image of aspiring vocalist Thia Lanuza"
        />
      </span>
      <span class="image-resizer">
        <Image
          src={performance_3}
          id="perf-3"
          width="800"
          alt="Image of aspiring vocalist Thia Lanuza"
        />
      </span>
      <span class="image-resizer">
        <Image
          src={performance_4}
          id="perf-4"
          width="800"
          alt="Image of aspiring vocalist Thia Lanuza"
        />
      </span>
      <div class="year-container">
        <h3 class="year">2024</h3>
      </div>
      <span class="image-resizer">
        <Image
          src={performance_5}
          id="perf-4"
          width="800"
          alt="Image of aspiring vocalist Thia Lanuza"
        />
      </span>
      <span class="image-resizer">
        <Image
          src={performance_6}
          id="perf-4"
          width="800"
          alt="Image of aspiring vocalist Thia Lanuza"
        />
      </span>
    </div>
    <svg
      width="196"
      height="4320"
      viewBox="0 0 196 4320"
      fill="none"
      class="background-wire"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M82.0287 0C82.0287 71.5317 264.043 253.752 161.86 504.028C34.1301 816.873 -29.7348 1155.79 26.147 1346.97C82.0287 1538.15 137.91 1851 82.0287 2042.18C26.147 2233.37 -29.7348 2580.97 26.147 2798.23C82.0287 3015.48 137.91 3432.61 82.0287 3719.38C37.3233 3948.8 63.4015 4214.72 82.0287 4319"
        stroke="white"
        stroke-width="5"></path>
    </svg>
  </div>
</section>

<style is:inline>
  .wrap::before {
    content: "";
    position: absolute;
    top: 55%;
    left: 7%;
    width: 100%;
    height: 100%;
    background: url("/bg-1.svg") no-repeat;
    background-size: contain;
    z-index: -1;
  }
  @media (max-width: 1250px) {
    .wrap::before {
      display: none;
    }
  }
</style>

<style>
  h3 {
    margin: 1.5rem 0;
    color: white;
    font-size: 3rem;
    font-family: "Roboto", system-ui, sans-serif;
  }

  .image-resizer {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .year-container {
    position: relative;
    min-width: 100%;
    min-height: 4rem;
  }

  .year {
    position: absolute;
    left: 38%;
    top: -20px;
    background-color: #000000;
    padding: 1rem 0;
  }

  .wrapper {
    position: relative;
  }

  .all-posters {
    position: relative;
  }

  #perf-1 {
    margin-top: 5rem;
  }

  #perf-2 {
    display: flex;
    align-items: center;
    min-width: 100%;
  }

  .image-wrapper {
    /* background-color: gray; */
    display: flex;
    gap: 5rem;
    flex-direction: column;
    align-items: center;
  }

  .background-wire {
    position: absolute;
    right: 37%;
    top: 15px;
    z-index: -1;
  }

  img {
    max-width: 35rem;
    height: auto;
  }

  @media (max-width: 1250px) {

    h3 {
      margin: 0.75rem auto;
      font-size: 1.75rem;
      text-align: center;
    }

    .year {
      position: unset;
      top: unset;
      right: unset;
    }

    .image-wrapper {
      gap: 3rem;
    }

    .background-wire {
      display: none;
    }
    .background-wire2 {
      display: none;
    }

  img {
    width: 100%;
    height: auto;
  }
</style>
